<footer class="bottom-nav">
  <ul>
    <li class="nav-item">
      <button class="nav-btn"><span>What We do?</span></button>
      <div class="dropup-menu">
        <a href="/src/sport.html">Sports</a>
        <a href="#archive-news">Healthy Athletes</a>
      </div>
    </li>
    <li class="nav-item">
      <button class="nav-btn"><span>Affiliate</span></button>
      <div class="dropup-menu">
        <a href="/src/loaffiliate.html">List of Affiliates</a>
      </div>
    </li>
    <li class="nav-item">
      <button class="nav-btn"><span>Events</span></button>
      <div class="dropup-menu">
        <a href="#photos">Photos</a>
        <a href="#videos">Videos</a>
      </div>
    </li>
    <li class="nav-item">
      <button class="nav-btn"><span>Gallery</span></button>
      <div class="dropup-menu">
        <a href="#photos">Photos</a>
        <a href="#videos">Videos</a>
      </div>
    </li>
  
    <li class="nav-item">
      <button class="nav-btn"><span>Register</span></button>
      <div class="dropup-menu">
        <a href="/src/join_us.html">Join Us</a>
        <a href="#details">More Info</a>
      </div>
    </li>
    <li class="nav-item">
      <button class="nav-btn"><span>Community</span></button>
      <div class="dropup-menu">
        <a href="#join">Text 1</a>
        <a href="#details">Text 2</a>
      </div>
    </li>
  </ul>
</footer>
