<footer class="bottom-nav">
  <ul>
    <li class="nav-item">
      <button class="nav-btn"><span>What We do?</span></button>
      <div class="dropup-menu">
        <a href="/src/getting_started.html">Getting Started</a>
        <a href="/src/sport.html">Our Sports</a>
      </div>
    </li>
    <li class="nav-item">
      <button class="nav-btn"><span>Affiliate</span></button>
      <div class="dropup-menu">
        <a href="/src/loaffiliate.html">Sarawak Chapters</a>
        <a href="#archive-news">Partnerships</a>
      </div>
    </li>
    <li class="nav-item">
      <button class="nav-btn"><span>Events</span></button>
      <div class="dropup-menu">
        <a href="#videos">Healthy Athletes Program</a>
        <a href="#videos">Athletes Leadership Program</a>
        <a href="#videos">Young Athletes</a>
        <a href="#videos">State Games</a>
        <a href="/src/event_celender.html">Event Calenders</a>
      </div>
    </li>
    <li class="nav-item">
      <button class="nav-btn"><span>Gallery</span></button>
      <div class="dropup-menu">
        <a href="#photos">Photos</a>
        <a href="#videos">Videos</a>
      </div>
    </li>
  
    <li class="nav-item">
      <button class="nav-btn"><span>Join Us</span></button>
      <div class="dropup-menu">
        <a href="/src/join_us.html">Join Us</a>
      </div>
    </li>
    <li class="nav-item">
      <button class="nav-btn"><span>Community</span></button>
      <div class="dropup-menu">
        <a href="#join">Program Partners</a>
        <a href="#details">Other Special Olympics</a>
      </div>
    </li>
  </ul>
</footer>
