<footer class="site-footer">
      <div class="site-footer-content" style="display:flex;align-items:center;justify-content:space-between;flex-wrap:wrap; gap: 18px;">
        <span style="font-size:1rem;color:#ffffff;">© 2025 Special Olympics Sarawak. All rights reserved.</span>
        <div class="footer-links" style="display:flex;gap: 18px;">
          <a href="#" class="footer-link">Privacy Policy</a>
          <a href="/src/disclaimer.html" class="footer-link">Disclaimer</a>
          <a href="#" class="footer-link">Term & Condition</a>
        </div>
      </div>
    </footer>
