<div class="socmed-bar">
  <a href="https://www.facebook.com/SpecialOlympicsSarawak/" class="socmed-icon soc-facebook" title="Facebook"><i class="fab fa-facebook-f"></i></a>
  <a href="https://twitter.com/SpecialOlySarawak" class="socmed-icon soc-x" title="X"><i class="fab fa-x-twitter"></i></a>
  
  <!-----
  <a href="https://www.linkedin.com/company/special-olympics-sarawak/" class="socmed-icon soc-linkedin" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
--->

  <a href="https://www.tiktok.com/@specialolympicssarawak" class="socmed-icon soc-tiktok" title="TikTok"><i class="fab fa-tiktok"></i></a>
  <a href="https://www.instagram.com/specialolympicssarawak/" class="socmed-icon soc-instagram" title="Instagram"><i class="fab fa-instagram"></i></a>
</div>
